@import 'tailwindcss';

@theme {
    /* colors */
    --color-base: #f8eee5;
    --color-primary: #1a1a1a;
    --color-accent: #c05800;
    --color-accent-light: #ca762e;

    /* fonts */
    --font-display: 'Playfair Display', serif;
    --font-body: 'DM Sans', sans-serif;

    /* shadows */
    --shadow: 4px 4px 0px var(--color-primary);
    --shadow-md: 6px 6px 0px var(--color-primary);
    --shadow-lg: 8px 8px 0px var(--color-primary);
    --shadow-accent: 4px 4px 0px var(--color-accent);
    --shadow-accent-md: 6px 6px 0px var(--color-accent);
    --shadow-accent-lg: 8px 8px 0px var(--color-accent);
    --drop-shadow-title: 2px 2px 0px var(--color-accent);
}

body {
    font-family: var(--font-body);
    @apply bg-base text-primary max-w-400 mx-auto px-1 sm:px-2;
}

header {
    @apply sticky top-0 left-0 right-0 z-100 h-16 pt-4 mx-auto max-w-400 bg-base;
}

main {
    @apply flex flex-col gap-4 sm:gap-6 px-2 sm:px-4 py-4 sm:py-6 mb-8;
}

nav {
    @apply flex items-baseline justify-between px-2 sm:px-4 gap-4 pb-2;
}

h1 {
    @apply font-display text-3xl font-bold;
}

h2 {
    @apply font-display text-2xl font-bold;
}

h3,
.h3 {
    @apply text-sm font-mono uppercase tracking-widest font-bold pt-1;
}

strong {
    @apply bg-primary/10 text-accent font-bold p-1;
}

code {
    @apply bg-primary/10 text-accent font-mono p-1 pb-0.5;
}

#banner {
    @apply text-4xl font-bold font-display text-primary drop-shadow-title hover:text-primary/80 transition-colors tracking-wide;
}

.link {
    @apply text-primary hover:bg-accent hover:text-base px-2 transition-all font-bold;
    &.active {
        @apply text-accent hover:text-base;
    }
}

.btn-primary {
    @apply py-1 px-3 border-2 border-primary text-primary bg-accent hover:text-base hover:border-accent active:bg-accent-light active:border-accent-light transition-colors font-bold flex items-center justify-center gap-2 cursor-pointer;
}

.btn-neutral {
    @apply py-1 px-2 border-2 border-primary text-primary bg-base hover:bg-accent hover:text-base hover:border-accent  active:bg-accent-light active:border-accent-light transition-colors font-bold flex items-center justify-center gap-2 cursor-pointer;
}

.btn-neutral:disabled,
.btn-primary:disabled {
    @apply border-gray-400 text-gray-400 bg-gray-200 cursor-not-allowed hover:bg-gray-200 hover:text-gray-400 hover:border-gray-400;
}

.btn-square {
    @apply p-1;
}

.boxed {
    @apply border-2 border-primary p-2 sm:p-4;
}

#test-checklist {
    @apply border-collapse border-2 border-primary text-sm;

    tr {
        @apply border-b border-primary/20;
    }

    td,
    th {
        @apply px-4 py-2 text-left;
    }

    td:nth-child(2),
    th:nth-child(2) {
        @apply text-center;
    }

    .header-row {
        @apply bg-primary text-base;
    }

    .sub-header-row {
        @apply bg-primary/5 text-accent;
    }
}
